@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .word-incorrect {
    border-bottom: solid 2px red;
    transition: all 0.1s;
  }
  .char-correct {
    color: white;
  }

  .char-incorrect {
    color: red;
  }

  .char-extra {
    color: rgb(141, 0, 0);
  }

  .char-inactive {
    color: gray;
  }

  .btn-bg:hover {
    background-color: rgba(125, 125, 125, 0.35);
  }
}
